name: Deploy Laravel to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/project-gen-api
            git pull origin main
            docker-compose down
            docker-compose up -d --build

            # انتظار container ykhdam
            until docker exec gen-api-app php artisan --version >/dev/null 2>&1; do
              echo "Waiting for gen-api-app container..."
              sleep 5
            done

            # Run Laravel commands
            docker exec gen-api-app php artisan migrate --force
            docker exec gen-api-app php artisan config:cache
            docker exec gen-api-app php artisan route:cache
