name: Deploy Laravel to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e

            cd /var/www/project/gen-api

            git pull origin master

            docker compose down
            docker compose up -d --build

            echo "Waiting for container..."

            until docker exec gen-api-app php -v >/dev/null 2>&1; do
              sleep 5
            done

            docker exec gen-api-app php artisan migrate --force || true
            docker exec gen-api-app php artisan config:cache || true
            docker exec gen-api-app php artisan route:cache || true
