name: Deploy Laravel to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/project-gen-api
            git pull origin main
            docker-compose down
            docker-compose up -d --build
            sleep 10
            docker exec gen-api-app php artisan migrate --force
            docker exec gen-api-app php artisan config:cache
            docker exec gen-api-app php artisan route:cache
